$void: polygon(50% 50%, 50% 50%, 50% 50%);
$fbt: polygon(52.00% 56.11%, 48.00% 41.11%, 48.00% 56.11%),
    polygon(52.00% 56.11%, 52.00% 41.11%, 48.00% 41.11%),
    polygon(48.00% 41.11%, 38.20% 44.44%, 48.00% 56.11%),
    polygon(52.00% 56.11%, 60.00% 50.56%, 52.00% 41.11%),
    polygon(60.00% 45.56%, 56.00% 33.89%, 52.00% 41.11%),
    polygon(60.00% 45.56%, 56.20% 33.33%, 56.00% 33.89%),
    polygon(38.20% 55.56%, 44.60% 66.67%, 48.00% 56.11%),
    polygon(56.00% 62.22%, 60.00% 50.56%, 52.00% 56.11%),
    polygon(61.80% 55.56%, 60.00% 50.56%, 56.00% 62.22%),
    polygon(56.20% 33.33%, 62.60% 33.33%, 56.00% 26.67%),
    polygon(60.00% 50.56%, 60.00% 45.56%, 52.00% 41.11%),
    polygon(60.00% 45.56%, 60.40% 44.44%, 56.20% 33.33%),
    polygon(60.60% 11.11%, 55.00% 22.22%, 56.00% 26.67%),
    polygon(56.60% 66.67%, 61.80% 55.56%, 56.00% 62.22%),
    polygon(38.20% 33.33%, 38.20% 44.44%, 44.60% 33.33%),
    polygon(44.60% 33.33%, 38.20% 44.44%, 48.00% 41.11%),
    polygon(44.60% 66.67%, 38.20% 66.67%, 44.60% 77.78%),
    polygon(38.20% 44.44%, 38.20% 55.56%, 48.00% 56.11%),
    polygon(63.40% 66.67%, 61.80% 55.56%, 56.60% 66.67%),
    polygon(63.40% 66.67%, 56.60% 66.67%, 63.00% 77.78%),
    polygon(44.60% 22.22%, 38.20% 33.33%, 44.60% 33.33%),
    polygon(38.20% 55.56%, 38.20% 66.67%, 44.60% 66.67%),
    polygon(60.40% 44.44%, 62.60% 33.33%, 56.20% 33.33%),
    polygon(63.00% 77.78%, 56.60% 66.67%, 56.00% 75.00%),
    polygon(38.20% 11.11%, 38.20% 22.22%, 44.60% 22.22%),
    polygon(44.60% 22.22%, 38.20% 22.22%, 38.20% 33.33%),
    polygon(62.60% 33.33%, 62.60% 22.22%, 56.00% 26.67%),
    polygon(56.00% 3.89%, 52.00% 3.33%, 52.00% 19.44%),
    polygon(38.20% 66.67%, 38.20% 77.78%, 44.60% 77.78%),
    polygon(44.00% 96.67%, 48.00% 96.67%, 48.00% 80.56%),
    polygon(56.00% 3.89%, 52.00% 19.44%, 55.00% 22.22%),
    polygon(52.00% 19.44%, 52.00% 3.33%, 48.00% 19.44%),
    polygon(48.00% 19.44%, 44.00% 3.33%, 44.60% 22.22%),
    polygon(52.00% 3.33%, 48.00% 3.33%, 48.00% 19.44%),
    polygon(60.80% 88.89%, 63.00% 77.78%, 56.00% 75.00%),
    polygon(60.80% 88.89%, 56.00% 75.00%, 55.20% 77.78%),
    polygon(62.60% 22.22%, 60.60% 11.11%, 56.00% 26.67%),
    polygon(60.00% 9.44%, 56.00% 3.89%, 55.00% 22.22%),
    polygon(60.60% 11.11%, 60.00% 9.44%, 55.00% 22.22%),
    polygon(48.00% 3.33%, 44.00% 3.33%, 48.00% 19.44%),
    polygon(44.00% 96.67%, 48.00% 80.56%, 44.60% 77.78%),
    polygon(48.00% 80.56%, 48.00% 96.67%, 52.00% 80.56%),
    polygon(52.00% 80.56%, 56.00% 96.11%, 55.20% 77.78%),
    polygon(48.00% 96.67%, 52.00% 96.67%, 52.00% 80.56%),
    polygon(44.00% 3.33%, 38.20% 11.11%, 44.60% 22.22%),
    polygon(60.00% 91.11%, 60.80% 88.89%, 55.20% 77.78%),
    polygon(52.00% 96.67%, 56.00% 96.11%, 52.00% 80.56%),
    polygon(56.00% 96.11%, 60.00% 91.11%, 55.20% 77.78%),
    polygon(38.20% 88.89%, 44.00% 96.67%, 44.60% 77.78%),
    polygon(38.20% 77.78%, 38.20% 88.89%, 44.60% 77.78%),
    polygon(44.00% 3.33%, 40.00% 3.33%, 38.20% 11.11%),
    polygon(38.20% 88.89%, 40.00% 96.67%, 44.00% 96.67%),
    polygon(32.00% 42.78%, 28.00% 42.78%, 32.00% 44.44%),
    polygon(32.00% 44.44%, 28.00% 42.78%, 32.00% 55.56%),
    polygon(32.00% 55.56%, 28.00% 58.89%, 32.00% 58.33%),
    polygon(28.00% 42.78%, 28.00% 58.89%, 32.00% 55.56%),
    polygon(68.00% 19.44%, 68.00% 3.33%, 66.40% 11.11%),
    polygon(34.40% 11.11%, 32.00% 3.33%, 32.00% 19.44%),
    polygon(32.00% 3.33%, 28.00% 19.44%, 32.00% 19.44%),
    polygon(68.00% 19.44%, 72.00% 19.44%, 68.00% 3.33%),
    polygon(28.00% 42.78%, 24.00% 42.78%, 28.00% 58.89%),
    polygon(24.00% 42.78%, 24.00% 58.89%, 28.00% 58.89%),
    polygon(72.00% 19.44%, 72.00% 3.33%, 68.00% 3.33%),
    polygon(32.00% 3.33%, 28.00% 3.33%, 28.00% 19.44%),
    polygon(76.00% 3.33%, 72.00% 3.33%, 72.00% 19.44%),
    polygon(28.00% 3.33%, 24.00% 19.44%, 28.00% 19.44%),
    polygon(24.00% 42.78%, 20.00% 42.78%, 24.00% 58.89%),
    polygon(20.00% 42.78%, 20.00% 58.89%, 24.00% 58.89%),
    polygon(28.00% 3.33%, 24.00% 3.33%, 24.00% 19.44%),
    polygon(80.00% 3.33%, 76.00% 3.33%, 75.40% 22.22%),
    polygon(75.40% 22.22%, 76.00% 3.33%, 72.00% 19.44%),
    polygon(81.80% 33.33%, 75.40% 22.22%, 75.40% 33.33%),
    polygon(81.80% 44.44%, 75.40% 33.33%, 75.40% 44.44%),
    polygon(81.80% 44.44%, 75.40% 44.44%, 75.40% 55.56%),
    polygon(81.80% 44.44%, 75.40% 55.56%, 81.80% 55.56%),
    polygon(75.40% 55.56%, 75.40% 66.67%, 81.80% 55.56%),
    polygon(81.80% 66.67%, 75.40% 66.67%, 75.40% 77.78%),
    polygon(24.00% 3.33%, 20.00% 19.44%, 24.00% 19.44%),
    polygon(81.80% 55.56%, 75.40% 66.67%, 81.80% 66.67%),
    polygon(81.80% 66.67%, 75.40% 77.78%, 81.80% 77.78%),
    polygon(81.80% 44.44%, 81.80% 33.33%, 75.40% 33.33%),
    polygon(81.80% 77.78%, 75.40% 77.78%, 75.40% 88.89%),
    polygon(11.40% 55.56%, 17.80% 66.67%, 20.00% 58.89%),
    polygon(11.40% 55.56%, 20.00% 58.89%, 20.00% 42.78%),
    polygon(81.80% 33.33%, 81.80% 22.22%, 75.40% 22.22%),
    polygon(81.80% 88.89%, 81.80% 77.78%, 75.40% 88.89%),
    polygon(16.00% 3.33%, 17.80% 22.22%, 20.00% 19.44%),
    polygon(81.80% 22.22%, 80.00% 3.33%, 75.40% 22.22%),
    polygon(24.00% 3.33%, 20.00% 3.33%, 20.00% 19.44%),
    polygon(76.00% 96.67%, 80.00% 96.67%, 75.40% 88.89%),
    polygon(80.00% 96.67%, 81.80% 88.89%, 75.40% 88.89%),
    polygon(81.80% 22.22%, 84.00% 19.44%, 80.00% 3.33%),
    polygon(84.00% 19.44%, 84.00% 3.33%, 80.00% 3.33%),
    polygon(20.00% 3.33%, 16.00% 3.33%, 20.00% 19.44%),
    polygon(11.40% 33.33%, 11.40% 44.44%, 17.80% 33.33%),
    polygon(17.80% 33.33%, 11.40% 44.44%, 20.00% 42.78%),
    polygon(11.40% 77.78%, 17.80% 88.89%, 17.80% 77.78%),
    polygon(11.40% 88.89%, 16.00% 96.67%, 17.80% 88.89%),
    polygon(11.40% 66.67%, 17.80% 77.78%, 17.80% 66.67%),
    polygon(11.40% 33.33%, 17.80% 33.33%, 17.80% 22.22%),
    polygon(11.40% 44.44%, 11.40% 55.56%, 20.00% 42.78%),
    polygon(11.40% 22.22%, 11.40% 33.33%, 17.80% 22.22%),
    polygon(11.40% 55.56%, 11.40% 66.67%, 17.80% 66.67%),
    polygon(84.00% 19.44%, 88.00% 19.44%, 84.00% 3.33%),
    polygon(11.40% 11.11%, 11.40% 22.22%, 17.80% 22.22%),
    polygon(11.40% 66.67%, 11.40% 77.78%, 17.80% 77.78%),
    polygon(16.00% 3.33%, 11.40% 11.11%, 17.80% 22.22%),
    polygon(11.40% 77.78%, 11.40% 88.89%, 17.80% 88.89%),
    polygon(88.00% 19.44%, 88.00% 3.33%, 84.00% 3.33%),
    polygon(16.00% 3.33%, 12.00% 3.33%, 11.40% 11.11%),
    polygon(11.40% 88.89%, 12.00% 96.67%, 16.00% 96.67%),
    polygon(88.00% 19.44%, 90.60% 11.11%, 88.00% 3.33%);

$kpi: polygon(46.80% 44.44%, 53.20% 33.33%, 46.80% 33.33%),
    polygon(46.80% 44.44%, 53.20% 44.44%, 53.20% 33.33%),
    polygon(56.00% 61.11%, 56.00% 45.00%, 53.20% 44.44%),
    polygon(46.80% 44.44%, 46.80% 55.56%, 53.20% 44.44%),
    polygon(53.20% 33.33%, 46.80% 22.22%, 46.80% 33.33%),
    polygon(53.20% 33.33%, 53.20% 22.22%, 46.80% 22.22%),
    polygon(53.20% 22.22%, 46.80% 11.11%, 46.80% 22.22%),
    polygon(53.20% 66.67%, 56.00% 61.11%, 53.20% 44.44%),
    polygon(56.00% 61.11%, 60.00% 45.00%, 56.00% 45.00%),
    polygon(46.80% 55.56%, 53.20% 66.67%, 53.20% 44.44%),
    polygon(48.00% 3.33%, 46.80% 11.11%, 52.00% 3.33%),
    polygon(46.80% 55.56%, 46.80% 66.67%, 53.20% 66.67%),
    polygon(60.00% 61.11%, 62.00% 44.44%, 60.00% 45.00%),
    polygon(52.00% 3.33%, 46.80% 11.11%, 53.20% 22.22%),
    polygon(56.00% 61.11%, 60.00% 61.11%, 60.00% 45.00%),
    polygon(52.00% 3.33%, 53.20% 22.22%, 56.00% 19.44%),
    polygon(56.00% 3.33%, 52.00% 3.33%, 56.00% 19.44%),
    polygon(67.40% 55.56%, 64.00% 41.11%, 62.00% 44.44%),
    polygon(60.00% 19.44%, 56.00% 3.33%, 56.00% 19.44%),
    polygon(46.80% 66.67%, 46.80% 77.78%, 53.20% 66.67%),
    polygon(46.80% 77.78%, 53.20% 77.78%, 53.20% 66.67%),
    polygon(60.00% 19.44%, 60.00% 3.33%, 56.00% 3.33%),
    polygon(60.00% 61.11%, 64.00% 60.56%, 62.00% 44.44%),
    polygon(64.00% 41.11%, 70.40% 44.44%, 65.20% 33.33%),
    polygon(64.00% 3.89%, 60.00% 3.33%, 60.00% 19.44%),
    polygon(64.00% 3.89%, 60.00% 19.44%, 63.60% 22.22%),
    polygon(40.40% 11.11%, 40.00% 3.33%, 40.00% 12.22%),
    polygon(40.00% 12.22%, 36.00% 3.33%, 37.00% 22.22%),
    polygon(37.00% 22.22%, 32.00% 13.33%, 36.00% 26.11%),
    polygon(29.40% 22.22%, 33.80% 33.33%, 36.00% 26.11%),
    polygon(32.00% 77.78%, 39.40% 77.78%, 37.20% 66.67%),
    polygon(32.00% 77.78%, 37.20% 66.67%, 36.00% 61.11%),
    polygon(34.80% 55.56%, 29.80% 66.67%, 36.00% 61.11%),
    polygon(46.80% 77.78%, 46.80% 88.89%, 53.20% 77.78%),
    polygon(28.00% 27.22%, 32.00% 39.44%, 33.80% 33.33%),
    polygon(28.00% 58.33%, 29.80% 66.67%, 34.80% 55.56%),
    polygon(46.80% 88.89%, 53.20% 88.89%, 53.20% 77.78%),
    polygon(64.00% 60.56%, 67.40% 55.56%, 62.00% 44.44%),
    polygon(68.00% 9.44%, 63.60% 22.22%, 64.00% 23.33%),
    polygon(68.00% 9.44%, 64.00% 3.89%, 63.60% 22.22%),
    polygon(68.00% 9.44%, 64.00% 23.33%, 68.60% 11.11%),
    polygon(67.40% 55.56%, 68.00% 54.44%, 64.00% 41.11%),
    polygon(40.00% 3.33%, 36.00% 3.33%, 40.00% 12.22%),
    polygon(40.00% 96.67%, 41.80% 88.89%, 40.00% 80.00%),
    polygon(36.00% 3.33%, 32.80% 11.11%, 37.00% 22.22%),
    polygon(32.80% 11.11%, 32.00% 13.33%, 37.00% 22.22%),
    polygon(68.00% 54.44%, 70.40% 44.44%, 64.00% 41.11%),
    polygon(68.60% 11.11%, 64.00% 23.33%, 70.80% 22.22%),
    polygon(46.80% 88.89%, 48.00% 96.67%, 53.20% 88.89%),
    polygon(48.00% 96.67%, 52.00% 96.67%, 53.20% 88.89%),
    polygon(70.80% 22.22%, 64.00% 23.33%, 65.20% 33.33%),
    polygon(32.00% 13.33%, 29.40% 22.22%, 36.00% 26.11%),
    polygon(32.00% 39.44%, 26.20% 33.33%, 32.00% 42.78%),
    polygon(70.40% 44.44%, 71.40% 33.33%, 65.20% 33.33%),
    polygon(71.40% 33.33%, 70.80% 22.22%, 65.20% 33.33%),
    polygon(29.40% 22.22%, 28.00% 27.22%, 33.80% 33.33%),
    polygon(28.00% 58.33%, 34.80% 55.56%, 32.40% 44.44%),
    polygon(39.40% 77.78%, 34.40% 88.89%, 40.00% 80.00%),
    polygon(28.00% 58.33%, 32.40% 44.44%, 32.00% 42.78%),
    polygon(29.80% 66.67%, 32.00% 77.78%, 36.00% 61.11%),
    polygon(34.40% 88.89%, 40.00% 96.67%, 40.00% 80.00%),
    polygon(24.00% 40.56%, 28.00% 58.33%, 32.00% 42.78%),
    polygon(32.00% 77.78%, 34.40% 88.89%, 39.40% 77.78%),
    polygon(28.00% 27.22%, 26.20% 33.33%, 32.00% 39.44%),
    polygon(34.40% 88.89%, 36.00% 96.67%, 40.00% 96.67%),
    polygon(26.20% 33.33%, 24.00% 40.56%, 32.00% 42.78%),
    polygon(23.60% 66.67%, 24.00% 65.56%, 16.00% 55.56%),
    polygon(24.00% 40.56%, 24.00% 65.56%, 28.00% 58.33%),
    polygon(16.00% 55.56%, 24.00% 65.56%, 24.00% 40.56%),
    polygon(16.00% 66.67%, 22.60% 77.78%, 23.60% 66.67%),
    polygon(16.00% 33.33%, 16.00% 44.44%, 22.60% 33.33%),
    polygon(22.60% 33.33%, 16.00% 44.44%, 24.00% 40.56%),
    polygon(22.60% 11.11%, 16.00% 22.22%, 22.60% 22.22%),
    polygon(82.60% 22.22%, 76.20% 11.11%, 76.20% 22.22%),
    polygon(82.60% 11.11%, 80.00% 3.33%, 76.20% 11.11%),
    polygon(82.60% 33.33%, 76.20% 22.22%, 76.20% 33.33%),
    polygon(82.60% 44.44%, 76.20% 33.33%, 76.20% 44.44%),
    polygon(82.60% 44.44%, 76.20% 44.44%, 76.20% 55.56%),
    polygon(82.60% 44.44%, 76.20% 55.56%, 82.60% 55.56%),
    polygon(76.20% 55.56%, 76.20% 66.67%, 82.60% 55.56%),
    polygon(82.60% 55.56%, 76.20% 66.67%, 82.60% 66.67%),
    polygon(82.60% 44.44%, 82.60% 33.33%, 76.20% 33.33%),
    polygon(20.00% 96.67%, 22.60% 88.89%, 16.00% 88.89%),
    polygon(82.60% 33.33%, 82.60% 22.22%, 76.20% 22.22%),
    polygon(82.60% 66.67%, 76.20% 66.67%, 76.20% 77.78%),
    polygon(16.00% 33.33%, 22.60% 33.33%, 22.60% 22.22%),
    polygon(16.00% 22.22%, 16.00% 33.33%, 22.60% 22.22%),
    polygon(82.60% 77.78%, 82.60% 66.67%, 76.20% 77.78%),
    polygon(82.60% 22.22%, 82.60% 11.11%, 76.20% 11.11%),
    polygon(16.00% 11.11%, 16.00% 22.22%, 22.60% 11.11%),
    polygon(16.00% 44.44%, 16.00% 55.56%, 24.00% 40.56%),
    polygon(20.00% 3.33%, 16.00% 11.11%, 22.60% 11.11%),
    polygon(16.00% 55.56%, 16.00% 66.67%, 23.60% 66.67%),
    polygon(76.20% 88.89%, 82.60% 77.78%, 76.20% 77.78%),
    polygon(20.00% 3.33%, 16.00% 3.33%, 16.00% 11.11%),
    polygon(16.00% 77.78%, 22.60% 88.89%, 22.60% 77.78%),
    polygon(76.20% 88.89%, 82.60% 88.89%, 82.60% 77.78%),
    polygon(16.00% 66.67%, 16.00% 77.78%, 22.60% 77.78%),
    polygon(80.00% 96.67%, 82.60% 88.89%, 76.20% 88.89%),
    polygon(16.00% 77.78%, 16.00% 88.89%, 22.60% 88.89%),
    polygon(16.00% 88.89%, 16.00% 96.11%, 20.00% 96.67%);

@mixin render($obj) {
    @for $i from 1 through 300 {
        .p#{$i} {
            transition-delay: random(500) + ms !important;
            background: rgba(rgb(1, 186, 81), random(10)/10);

            @if length($obj)>=$i {
                clip-path: nth($obj, $i);
            }

            @else {
                clip-path: $void;
            }
        }
    }
}

@include render($kpi);

.is-fbt {
    @include render($fbt);
}